---
// Import Site data
import { sitePages } from "@/data/siteData";

// Layout import
import MainLayout from "@layouts/MainLayout.astro";

// Component imports
import CreateTodo from "@/components/ui/CreateTodo.astro";
import Wrapper from "@/components/utilities/Wrapper.astro";
import TodoListItem from "@/components/ui/TodoListItem.astro";

const page = sitePages.home;
---

<MainLayout
  title={page.title}
  description={page.description}
  ogImage={page.ogImage}
>
  <Wrapper>
    <CreateTodo />
    <section class="todos">
      <!-- Todos list -->
      <ul class="todo-list">
        <!-- <TodoListItem
          task="Complete online JavaScript course"
          completed={true}
        />
        <TodoListItem task="Jog around the park 3x" completed={false} />
        <TodoListItem task="10 minutes meditation" completed={false} />
        <TodoListItem task="Read for 1 hour" completed={false} />
        <TodoListItem task="Pick up groceries" completed={false} />
        <TodoListItem
          task="Complete Todo App on Frontend Mentor"
          completed={false}
        /> -->
      </ul>
      <template id="todo-list-item-template">
        <li class="todo-list-item">
          <label class="check-toggle">
            <span class="visually-hidden"
              >Complete task: <span class="task"></span></span
            >
            <svg
              class="check-svg"
              aria-hidden="true"
              viewBox="0 0 10 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                id="Path"
                d="M0.707031 4.01119L3.40293 6.70709L9.40293 0.707092"
                stroke="white"
                stroke-width="2"></path>
            </svg>

            <input class="check-toggle-input visually-hidden" type="checkbox" />
          </label>

          <span class="task"></span>

          <button type="button" class="delete-button"
            ><span class="visually-hidden"
              >Delete task: <span class="task"></span></span
            >
            <svg
              class="cross-svg"
              aria-hidden="true"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.7851 0.471404L11.3137 0L5.89256 5.42115L0.471404 0L0 0.471404L5.42115 5.89256L0 11.3137L0.471404 11.7851L5.89256 6.36396L11.3137 11.7851L11.7851 11.3137L6.36396 5.89256L11.7851 0.471404Z"
                fill="#494C6B"></path>
            </svg>
          </button>
        </li>
      </template>

      <!-- Footer / controls -->
      <footer class="todo-footer">
        <div class="controls">
          <p class="items-left" role="status">5 items left</p>
          <button type="button" class="clear-completed-button"
            >Clear Completed</button
          >
        </div>

        <div class="filters" role="group">
          <span class="visually-hidden">Filter todos</span>
          <button
            type="button"
            class="filter-button"
            data-filter="all"
            aria-pressed="true">All</button
          >
          <button
            type="button"
            class="filter-button"
            data-filter="active"
            aria-pressed="false">Active</button
          >
          <button
            type="button"
            class="filter-button"
            data-filter="completed"
            aria-pressed="false">Completed</button
          >
        </div>
      </footer>
    </section>
    <p class="info">Drag and drop to reorder list</p>
  </Wrapper>
</MainLayout>

<style lang="scss">
  @use "@sass/miscellaneous" as *;

  .todos {
    border-top-left-radius: var(--br-md);
    border-top-right-radius: var(--br-md);
    margin-block-start: var(--pad-sect-sm);
  }

  .todo-list {
    box-shadow: var(--bs-todos);
  }

  .todo-list-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--space-cont-lg);
    background-color: var(--bg-container-default);
    padding-block: var(--pad-cont-xs);
    padding-inline: var(--pad-cont-sm);
    border-bottom: var(--border-list-item);

    @media (hover: hover) {
      &:hover {
        .delete-button {
          opacity: 1;
        }
      }
    }

    &:has(input:checked) .task {
      color: var(--fg-text-completed);
      text-decoration: line-through;
    }

    .task {
      display: grid;
      position: relative;
      width: fit-content;
      font: var(--font-1);
      color: var(--fg-text-default);
      transition: color var(--trans-default);
    }

    .delete-button {
      display: grid;
      background: none;
      border: none;
      cursor: pointer;
      transition: opacity var(--trans-default);

      @media (hover: hover) {
        opacity: 0;
      }

      &:focus-visible {
        opacity: 1;
      }

      .cross-svg {
        width: var(--size-icon-cross);
      }
    }
  }

  .check-toggle {
    position: relative;
    display: grid;
    place-items: center;
    width: var(--size-20px-24px-24px);
    aspect-ratio: 1;
    border-radius: var(--br-round);
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: inherit;
    }

    &::before {
      inset: 0;
      background: linear-gradient(
        in oklch 135deg,
        var(--clr-gradient-1-start) 00%,
        var(--clr-gradient-1-end) 90%
      );
      opacity: 0;
      transition: opacity var(--trans-default);
    }

    &::after {
      inset: var(--bw-md);
      background-color: var(--bg-container-default);
      outline: var(--bw-md) solid var(--bc-list-item);
      transition:
        outline-color var(--trans-default),
        background-color var(--trans-default);
    }

    @media (hover: hover) {
      &:has(input:hover) {
        &::before {
          opacity: 1;
        }

        &::after {
          outline-color: transparent;
        }
      }
    }

    &:has(input:focus-visible) {
      outline: var(--border-default-focus);
      outline-offset: var(--offset-default-focus);
    }

    &:has(input:checked) {
      &::before {
        opacity: 1;
      }

      &::after {
        background-color: transparent;
        outline-color: transparent;
      }
    }

    .check-svg {
      position: relative;
      width: var(--size-icon-check);
    }
  }

  .todo-footer {
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--bg-container-default);
      border-bottom-left-radius: var(--br-md);
      border-bottom-right-radius: var(--br-md);
      box-shadow: var(--bs-todos);
      padding-block: var(--pad-cont-xs);
      padding-inline: var(--pad-cont-sm);

      .items-left {
        font: var(--font-2);
        color: var(--fg-text-muted);
      }

      .clear-completed-button {
        font: var(--font-2);
        color: var(--fg-text-muted);
        background: none;
        border: none;
        transition: color var(--trans-default);

        &:not(:disabled) {
          cursor: pointer;
        }

        @media (hover: hover) {
          &:hover {
            color: var(--fg-text-hover);
          }
        }
      }
    }

    .filters {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--space-cont-md);
      background-color: var(--bg-container-default);
      border-radius: var(--br-md);
      box-shadow: var(--bs-todos);
      padding-block: var(--pad-cont-xs);
      padding-inline: var(--pad-cont-sm);
      margin-block-start: var(--space-cont-md);

      .filter-button {
        font: var(--font-3);
        color: var(--fg-text-muted);
        transition: color var(--trans-default);
        background: none;
        border: none;
        transition: color var(--trans-default);

        &:not([aria-pressed="true"]) {
          cursor: pointer;
        }

        @media (hover: hover) {
          &:hover {
            color: var(--fg-text-hover);
          }
        }

        &[aria-pressed="true"] {
          color: var(--fg-text-active);
        }
      }
    }

    @include mq(medium) {
      position: relative;

      .filters {
        position: absolute;
        top: 0;
        justify-self: center;
        margin: 0;
        box-shadow: none;
      }
    }
  }

  .info {
    font: var(--font-4);
    color: var(--fg-text-muted);
    text-align: center;
    margin-block-start: var(--space-cont-xl);
  }
</style>
